/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/inter-v13-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/inter-v13-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
    box-sizing: border-box;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}
.nav-menu {
    display: flex;
    padding: 32px 0px;
    justify-content: center;
    align-items: center;
    gap: 72px;
    li {
        display: inline;
    }
}
.image {
    display: flex;
    width: 1400px;
    height: 552px;
    padding: 92px 400px 92px 401px;
    justify-content: center;
    align-items: center;
    background: #00BDC9;
}
.menu-text {
    color: #000;
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 24.3px */
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-box {
    display: flex;
    padding: 88px 0px;
    flex-direction: column;
    align-items: center;
    width: 856px;
}
.main-title {
    color: #000;
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%; /* 64.8px */
}
.text-div {
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.text-art {
    color: #161616;
    font-family: 'Inter', serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 31.5px */
}
.marker-text {
    color: #04959E;
    font-family: 'Inter', serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.list {
    color: #161616;
    font-family: 'Inter', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}
.button-div {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-style {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    background: #04959E;
}
.button-text {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 24.3px */
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-top: 1px solid #161616;
}
.footer-box {
    display: flex;
    width: 856px;
    padding: 16px 0px;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-text {
    color: #161616;
    text-align: right;
    font-family: 'Inter', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */

}